@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

body {
    background-color: #262b33;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.main {
    display: block;
    margin: 20px 60px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #FFF;
}

.side {
    background-color: #204B41;
    color: #FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.side h1{
    font-size: 24px;
    font-weight: bold;
}

.side h2{
    font-size: 18px;
    color: #EEE;
}

.side h3{
    font-size: 17px;
    color: #EEE;
}

.side .contact{
    margin-top:40px;
    line-height: 2;
}

.side .contact a{
    font-size: 18px;
    color: #EEE;
}

.side .links {
    margin-top: 15px;
}

.side .links a svg {
    width: 25px;
    height: 25px;
    fill: #EEE;
    opacity: 0.7;
}

.side .links a:hover svg {
    fill: #FFF;
    opacity: 1;
}

.cv {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
}

.cv section {
    margin: 30px 25px;
}

.cv section h1 {
    font-size: 21px;
    font-weight: bolder;
}

.cv section h2 {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.cv section h3 {
    font-size: 16px;
}

.cv section h4 {
    font-size: 16px;
    color: #777;
}

.cv section.skills span {
    background-color: #777;
    color: #DDD;
    font-size: 16px;
    margin-right: 5px;
    padding: 0 10px;
    border-radius: 7px;
}

.profile-pic {
    display: inline;
    width: 180px;
    height: 180px;
    margin: 70px auto 20px auto;
    border-radius: 50px;
}
